*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joke{
    height: 300px;
    width :500px;
    border: 2px solid wheat;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0cqmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.joke h1{
    color:red;
text-shadow: 10px 10px 5px 41px rgba(173, 51, 51, 0.75);
  margin-bottom: 3rem;
}
.joke h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-bottom: 1rem;
}
.joke p{
    color:teal;

}
.joke h2{
    color:black;

}
.joke button{
    padding: 10px;
    margin-top: 3rem;
    color:blue;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;


}
@media(max-width:600px){
    .joke{
        font-size: 50%;

    }
}